#count {
    font-weight: bold;
    display: inline-block;
}

button {
    display: inline-block;
}

#logo {
    width: 200px;
    height: 200px;
    background-image: url('task_2/assets/holberton-logo.jpg');
    background-repeat: no-repeat;
}
